
<!DOCTYPE html>

<html>
    
<head>
    <title>About Me</title>
    <html lang="en">
    <meta charset="UTF-8">
    <meta name="description" content="CV">
    <meta name="keywords" content="HTML">
    <meta name="author" content="ehmtang">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static%}
    <link rel="stylesheet" href="{% static 'about_me_styles.css'%}" type="text/css">
</head>

<body>

    <div class="row">
        <div class="column">
            <div class="profile_picture">
                <img src="https://upload.wikimedia.org/wikipedia/en/thumb/6/62/Kermit_the_Frog.jpg/220px-Kermit_the_Frog.jpg"
                alt="profile picture"
                width="200px"
                height="auto"/>
            </div>
        </div>

        <div class="column">
            <em>"I believe creativity is an inherent part of everyone."</em>- Kermit the Frog<br>
                <p>Things I do in my spare time:</p>
                <div class="things">
                    <ul>
                        <li>Drinking Tea</li>
                        <li>Thinking about variable names</li>
                        <li>Writing incomplete code</li>
                    </ul>
                </div>
        </div>
    </div>
    
</body>

</html>